__pycache__/
extract_data/
lmao/
# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build
frontend/.env

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/.vscode/

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

backend/env/
