.houtselR
{
    background: #1A1B1E;
    border-radius: 15px;
    width: 100%;
    margin-top: 30px;
    margin-left: 15px;
    overflow: scroll;
}

.houtselR :last-child
{
    margin-bottom: 20px;
}

.houtselR h3
{
    color: white;
    font-weight: normal;
    font-size: 25px;
}